

.articalheadinnerbox {margin:0px; padding:0px; width:97%; margin-left:15px;}
.articalheadinnerbox2 {margin:0px; padding:0px; width:97%; margin-left:5px;}
          
.artcalinnerhead
{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    line-height: 150%;
    font-size: 16px;
    color: #32368d;
    text-align: left;
    font-weight: bolder;
    font-style: italic;
}
	
.advisoryContentBox
{ 
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 1px;
    *border-bottom: 2px #00aae9 solid; text-align: center; }

.artcalinnerhead2 {margin:0px; padding:0px; font-family:Calibri; line-height:150%;
	font-size:14px; color:#32368d; text-align:left; font-weight:bolder; font-style:italic; }
	
	

.artcalinnertxt
{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    line-height: 150%;
    font-size: 12px;
    color: #000;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}


.advcounciltxt1
{         
    margin: 0px;
    padding: 1px;
    font-family: Calibri;
    font-size: 12px;
    color: #333333;
    text-align: center;
    *font-weight: bold;
         }
.advcounciltxt
{         
    margin: 0px;
    padding: 1px;
    font-family: Calibri;
    font-size: 12px;
    color: #333333;
    text-align: center;
    *font-weight: bold;
         }
         .example-image-link
{
    color: #32368d;
}








 
 
 
#advcouncil p a:hover
{
    color: #000000;
}
	
.artcalinnertxt b {color:#9f3d01; font-weight:bolder; }	

.artcalinnertxt a
{
    color: #0057a6;
    text-decoration: underline;
}

.artcalinnertxt p
{
    margin: 0px;
    padding: 0px 0px 0px 15px;
    text-align: justify;
    line-height: 22px;
}

.articalheadinnerbox2 p
{
    margin: 0px;
    padding: 0px 0px 0px 5px;
    line-height: 16px;
}

.artiimg {margin:0px; padding:0px; border:1px solid #accfe5; padding:5px; border-style:ridge;}

.artiarea {margin:0px; padding:0px; margin-left:5px;}

.articontent{margin:0px; padding:0px; font-family:Calibri; font-size:13px; line-height:160%;
               text-align:justify;}

.articontent p {margin:0px; padding:0px; padding-bottom:5px;}

.articontent span {margin:0px; padding:0px; color:Red; font-size:40px; font-family:Tahoma; font-style:oblique;  line-height:100%;}

.topcolor {height:5px; background:#32368d; }
.topcolor1
{
    height: 5px;
    background: #80d0f1;
}

.articontent a {color:#ff0000;}